*.pyc
*.pyo
*.swp
*~

*.egg
*.egg-info
dist
build/
eggs
bin
sdist

pip-log.txt

__pycache__
openid_store

env
env*

.webassets-cache
.DS_Store
*.sublime-*
.cache/

*.pem
*.crt
*.cert
*.key

flask-openid.db
config.json
*.log
