nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #607d8b;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.card {
  width: 500px;
}

.btn.social > :first-child,
.btn-large.social > :first-child,
.col.social > :first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.btn.social,
.btn-large.social,
.col.social {
  padding: 0 2rem 0 0;
}

.btn.social i,
.btn-large.social i,
.col.social i {
  padding: 0 1rem;
  margin-right: 1rem;
}

.btn.social-icon,
.btn-large.social-icon,
.col.social-icon {
  padding: 0;
}

.btn.social-icon i,
.btn-large.social-icon i,
.col.social-icon i {
  padding: 0 1rem;
  margin-right: 0;
}

.btn-large.social-icon {
  padding: 0 1rem;
}

.col.social {
  width: 100%;
  text-asdflign: left;
}

.col.social i.fa-fw {
  width: 3.2rem;
}

.stroke {
    text-shadow:
    -1px -1px 0 #757575,
    1px -1px 0 #757575,
    -1px 1px 0 #757575,
    1px 1px 0 #757575;
}
