{%if whitelisted and user%}
{% extends 'base.html' %}
{% block content %}

<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <p></p><img src="static/img/{{os}}-logo.png" height="10%" width="10%">
        <h4 class="stroke">{{os.title()}} Server</h4>
        {%if servers['pc']%}
        <h5 class="header center white-text stroke">Status: <i class="light green-text text-lighten-2">Online</i></h5><p></p>
        <a href="/admin/restart?server" class="btn social waves-effect waves-light blue-grey lighten-1"><i class="material-icons left">power_settings_new</i>Reboot Server&nbsp;</a><p></p>
        {%else%}
        <h5 class="header center white-text stroke">Status: <i class="light red-text text-lighten-2">Offline</i></h5><p></p>
        <a class="btn social waves-effect waves-light blue-grey lighten-1" disabled><i class="material-icons left">power_settings_new</i>Reboot Server&nbsp;</a><p></p>
        {%endif%}
        {%if 'ts3' in servers['online']%}
        <a href="/admin/restart?ts" class="btn social waves-effect waves-light blue-grey lighten-2"><i class="material-icons left">replay</i>Restart TeamSpeak&nbsp;</a><p><br></p>
        {%else%}
        <a href="/admin/start?ts" class="btn social waves-effect waves-light blue-grey lighten-2"><i class="material-icons left">play_arrow</i>Start TeamSpeak&nbsp;</a><p><br></p>
        {%endif%}
      </div>
    </div>
  </div>
  {%if servers['pc']%}
  <div class="parallax"><img src="static/img/dayz.png"></div>
  {%else%}
  <div class="parallax"><img style="-webkit-filter: grayscale(70%); filter: grayscale(70%);" src="static/img/dayz.png"></div>
  {%endif%}
</div>
{%for n in range(0, panels|count, 2)%}
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="section">
          <div class="row">
            {%if servers['pc'] and  mods[n] and not servers[panels[n]]%}
            <div class="col s12 m5">
            {%else%}
            <div class="col s12 m6">
            {%endif%}
              <div class="row center center-align">
                {%if servers[panels[n]] and servers[panels[n]]['protocol'] == "valve"%}
                <a href="steam://connect/{{servers[panels[n]]['ip']}}:{{servers[panels[n]]['port']}}"><img src="static/img/{{panels[n]}}-logo.png" width="50%" height="50%"></a>
                {%else%}
                <img src="static/img/{{panels[n]}}-logo.png">
                {%endif%}
              </div>
            </div>
            {%if servers['pc'] and  mods[n] and not servers[panels[n]]%}
            <div class="col s12 m5">
            {%else%}
            <div class="col s12 m6">
            {%endif%}
              <div class="center stroke">
                {%if servers[panels[n]]%}
                <h4 class="header center">{{servers[panels[n]]['hostname'].replace("Au1st3in's ", "").replace(" | au1st3in.net", "").replace("Au1st3in.net - ", "").strip('Server').strip()}}</h4>
                <h5 class="header center light">Players: {{servers[panels[n]]['players']}}/{{servers[panels[n]]['maxplayers']}}</h5><p></p><p></p>
                {%else%}
                <h4 class="header center">{{names[n]['default']}} Server</h4>
                <h5 class="header center light"><i>Currently Offline</i></h5><p></p><p></p>
                {%endif%}
              </div>
              <div class="row center center-align">
                {%if servers[panels[n]] and servers['pc']%}
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">play_arrow</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a onclick="this.href='/admin/restart?server={{panels[n]}}&mod='+document.getElementById('{{panels[n]}}-mod').value" class="btn waves-effect waves-light blue-grey lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Restart"><i class="material-icons">replay</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/admin/stop?server={{panels[n]}}" class="btn waves-effect waves-light blue-grey lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Stop"><i class="material-icons">stop</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/admin/kill?server={{panels[n]}}" class="btn waves-effect waves-light blue-grey lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Kill Process"><i class="material-icons">not_interested</i></a>
                {%elif servers['pc']%}
                <a onclick="this.href='/admin/start?server={{panels[n]}}&mod='+document.getElementById('{{panels[n]}}-mod').value" class="btn waves-effect waves-light blue-grey lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Start"><i class="material-icons">play_arrow</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">replay</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">stop</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">not_interested</i></a>
                {%else%}
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">play_arrow</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">replay</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">stop</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">not_interested</i></a>
                {%endif%}
              </div>
            </div>
            {%if servers['pc'] and  mods[n] and not servers[panels[n]]%}
            <div class="col right s4 m2 grey-text text-darken-2">
            {%else%}
            <div class="col hide">
            {%endif%}
                {%if servers['pc']%}
                  {%if mods[n]%}
                    {%if servers[panels[n]]%}
                      {%for mod in mods[n]%}
                        {%if mod in servers[panels[n]]['hostname'].lower()%}
                        <select class="hide browser-default" id="{{panels[n]}}-mod">
                          <option value="{{mod}}" selected>{{names[n][mod]}}</option>
                        </select>
                        {%endif%}
                      {%endfor%}
                    {%else%}
                    <select class="browser-default" id="{{panels[n]}}-mod">
                      <option value="default" disabled selected>Servers Mods</option>
                      <option value="default">&nbsp;&nbsp;&nbsp;Default</option>
                      {%for mod in mods[n]%}
                      <option value="{{mod}}">&nbsp;&nbsp;&nbsp;{{names[n][mod]}}</option>
                      {%endfor%}
                    </select>
                    {%endif%}
                  {%else%}
                  <select class="hide browser-default" id="{{panels[n]}}-mod">
                    <option value="default" selected>Default</option>
                  </select>
                  {%endif%}
                {%endif%}
            </div>
          </div>
        </div>
      </div>
    </div>
    {%if servers[panels[n]]%}
    <div class="parallax"><img src="static/img/{{panels[n]}}.png" width="1920" height="1080"></div>
    {%elif servers['pc']%}
    <div class="parallax"><img style="-webkit-filter: grayscale(10%); filter: grayscale(10%);" src="static/img/{{panels[n]}}.png" width="1920" height="1080"></div>
    {%else%}
    <div class="parallax"><img style="-webkit-filter: grayscale(70%); filter: grayscale(70%);" src="static/img/{{panels[n]}}.png" width="1920" height="1080"></div>
    {%endif%}
  </div>
  {%if panels[n+1]%}
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m6">
              <div class="center stroke">
                {%if servers[panels[n+1]]%}
                <h4 class="header center">{{servers[panels[n+1]]['hostname'].replace("Au1st3in's ", "").replace(" | au1st3in.net", "").replace("Au1st3in.net - ", "").strip('Server').strip()}}</h4>
                <h5 class="header center light">Players: {{servers[panels[n+1]]['players']}}/{{servers[panels[n+1]]['maxplayers']}}</h5><p></p><p></p>
                {%else%}
                <h4 class="header center">{{names[n+1]['default']}} Server</h4>
                <h5 class="header center light"><i>Currently Offline</i></h5><p></p><p></p>
                {%endif%}
              </div>

              <div class="row center center-align">
                {%if servers[panels[n+1]] and servers['pc']%}
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">play_arrow</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a onclick="this.href='/admin/restart?server={{panels[n+1]}}&mod='+document.getElementById('{{panels[n+1]}}-mod').value" class="btn waves-effect waves-light blue-grey lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Restart"><i class="material-icons">replay</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/admin/stop?server={{panels[n+1]}}" class="btn waves-effect waves-light blue-grey lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Stop"><i class="material-icons">stop</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/admin/kill?server={{panels[n+1]}}" class="btn waves-effect waves-light blue-grey lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Kill Process"><i class="material-icons">not_interested</i></a>
                {%elif servers['pc']%}
                <a onclick="this.href='/admin/start?server={{panels[n+1]}}&mod='+document.getElementById('{{panels[n+1]}}-mod').value" class="btn waves-effect waves-light blue-grey lighten-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Start"><i class="material-icons">play_arrow</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">replay</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">stop</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">not_interested</i></a>
                {%else%}
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">play_arrow</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">replay</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">stop</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn waves-effect waves-light blue-grey lighten-1 disabled"><i class="material-icons">not_interested</i></a>
                {%endif%}
              </div>
            </div>
            <div class="col s12 m6 hide-on-med-and-down">
              <div class="row center center-align">
                {%if servers[panels[n+1]] and servers[panels[n+1]]['protocol'] == "valve"%}
                <a href="steam://connect/{{servers[panels[n+1]]['ip']}}:{{servers[panels[n+1]]['port']}}"><img src="static/img/{{panels[n+1]}}-logo.png" width="50%" height="50%"></a>
                {%else%}
                <img src="static/img/{{panels[n+1]}}-logo.png">
                {%endif%}
                {%if servers['pc'] and  mods[n+1] and not servers[panels[n+1]]%}
                <div class="col right s8 m4 grey-text text-darken-2">
                {%else%}
                <div class="col hide">
                {%endif%}
                    {%if servers['pc']%}
                      {%if mods[n+1]%}
                        {%if servers[panels[n+1]]%}
                          {%for mod in mods[n+1]%}
                            {%if mod in servers[panels[n+1]]['hostname'].lower()%}
                            <select class="hide browser-default" id="{{panels[n+1]}}-mod">
                              <option value="{{mod}}" selected>{{names[n+1][mod]}}</option>
                            </select>
                            {%endif%}
                          {%endfor%}
                        {%else%}
                        <select class="browser-default" id="{{panels[n+1]}}-mod">
                          <option value="default" disabled selected>Servers Mods</option>
                          <option value="default">&nbsp;&nbsp;&nbsp;Default</option>
                          {%for mod in mods[n+1]%}
                          <option value="{{mod}}">&nbsp;&nbsp;&nbsp;{{names[n+1][mod]}}</option>
                          {%endfor%}
                        </select>
                        {%endif%}
                      {%else%}
                      <select class="hide browser-default" id="{{panels[n+1]}}-mod">
                        <option value="default" selected>Default</option>
                      </select>
                      {%endif%}
                    {%endif%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%if servers[panels[n+1]]%}
    <div class="parallax"><img src="static/img/{{panels[n+1]}}.png" width="1920" height="1080"></div>
    {%elif servers['pc']%}
    <div class="parallax"><img style="-webkit-filter: grayscale(10%); filter: grayscale(10%);" src="static/img/{{panels[n+1]}}.png" width="1920" height="1080"></div>
    {%else%}
    <div class="parallax"><img style="-webkit-filter: grayscale(70%); filter: grayscale(70%);" src="static/img/{{panels[n+1]}}.png" width="1920" height="1080"></div>
    {%endif%}
  </div>
  {%endif%}
{%endfor%}

{% endblock %}
{%endif%}
