{% extends 'base.html' %}
{% block content %}

<div class="parallax-container valign-wrapper hide-on-small-only">
  <div class="parallax"><img src="static/img/dayzrp-1.png" width="1920" height="1080"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6">
        <p class="hide-on-med-and-down"><br></p>
        <div class="row center hide-on-med-and-up" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">
          <iframe src="/tsstatus" width="350" height="300" marginheight="0" frameborder="0" style="z-index: 2; overflow-x:hidden;"></iframe>
        </div>
        <div class="icon-block">
          <h2 class="center blue-grey-text text-lighten-2"><i class="material-icons">headset_mic</i></h2>
          <h5 class="center">Persistent Voice Communication</h5>
          <p class="light">Our teamspeak is home of a small gaming community surrounded around games such as Arma 3, DayZ, Battlegrounds, Overwatch, Counter-Strike, Garry's Mod, and Rocket League. Additionally, this server utilizes the Opus Voice codec for the clearest audio quality with a nearly gigabit LAN connection.</p><br>
        </div>
        <div class="row center hide-on-med-and-down">
          <a href="ts3server://{{servers['ts3']['dns']}}?port={{servers['ts3']['port']}}" class="waves-effect waves-light btn-large social blue-grey lighten-1"><i class="fa fa-sign-in"></i>TeamSpeak Lobby</a>
        </div>
        <p class="hide-on-med-and-up"><br><p>
      </div>
      <div class="col s12 m6">
        <div class="card large hoverable hide-on-med-and-down" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">
          <img src="static/img/ts/client.png" width="500" height="500" style="position: absolute; left: 0; top: 0; z-index: 3;">
          <iframe src="/tsstatus" width="500" height="500" marginheight="0" frameborder="0" style="z-index: 2;"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container hide-on-small-only">
  <div class="parallax"><img src="static/img/dayzrp-2.png" width="1920" height="1080"></div>
</div>

{% endblock %}
