{%if whitelisted and user%} {% extends 'base.html' %} {% block content %}

<div class="parallax-container hide-on-small-only">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <div class="col">
          <p><br><br></p>
          <a href="https://steamcommunity.com/profiles/{{user.steam_id}}" target="_blank" rel="noopener noreferrer"><img src="{{user.avatar}}" class="circle hoverable"></a>
          <p><br><br></p>
        </div>
        <div class="col stroke">
          <p class="row"><br><br></p>
          <div class="row icon-block" style="margin: 0em;">
            <a class="col white-text" href="https://steamcommunity.com/profiles/{{user.steam_id}}" target="_blank" rel="noopener noreferrer"><h3><i class="material-icons">verified_user</i></h3></a>
            <a class="col white-text" href="https://steamcommunity.com/profiles/{{user.steam_id}}" target="_blank" rel="noopener noreferrer"><h3>{{user.personaname}}</h3></a>
          </div>
          <div class="row white-text">
            <p style="margin: 0em;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SteamID64:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><i class="clip indigo-text text-lighten-3" data-clipboard-text="{{user.steam_id}}">{{user.steam_id}}</i></p>
            <p style="margin: 0em;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BattlEyeGUID:&nbsp;</b> <i class="clip indigo-text text-lighten-3" data-clipboard-text="{{user.guid}}">{{user.guid}}</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax blue-grey lighten-1" style="background-image: linear-gradient(45deg, #90a4ae, #37474f);"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6">
        <p><br></p>
        <div class="icon-block">
          <h4 class="col s3"></h4>
          <h4 class="col blue-grey-text"><i class="material-icons">group</i></h4>
          <h4 class="col light blue-grey-text text-lighten-1">Admin Whitelist</h4>
        </div>
        <table class="responsive-table">
          <thead>
            <tr>
              <th class="center"><i class="fa fa-user"></i></th>
              <th>Administrator</th>
              <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-id-card-o"></i>&nbsp;&nbsp;&nbsp;SteamID64</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {%for user in whitelist%}
            <tr>
              <td class="center"><a href="https://steamcommunity.com/profiles/{{user['steam_id']}}" target="_blank" rel="noopener noreferrer"><img src="{{user['avatar']}}" class="circle"></a></td>
              <td><a class="indigo-text text-lighten-2" href="https://steamcommunity.com/profiles/{{user['steam_id']}}" target="_blank" rel="noopener noreferrer">{{user['personaname']}}</a></td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{user['steam_id']}}</td>
              {%if not user['steam_id'] == admin%}
              <td><a href="whitelist?remove={{user['steam_id']}}"><i class="fa fa-times red-text text-lighten-2"></i></a></td>
              {%endif%}
            </tr>
            {%endfor%}
            <link href="static/css/primer-forms.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
            <tr>
              <td></td>
              <td></td>
              <td><input class="browser-default form-control input-sm center" type="text" placeholder="steamID64" id=whitelist-add></td>
              <td><a href="" onclick="this.href='whitelist?add='+document.getElementById('whitelist-add').value"><i class="fa fa-plus green-text text-lighten-2"></i></a></td>
            </tr>
          </tbody>
        </table>
        <p><br></p>
        <div class="icon-block">
          <h4 class="col s3"></h4>
          <h4 class="col blue-grey-text"><i class="material-icons">vpn_key</i></h4>
          <h4 class="col light blue-grey-text text-lighten-1">Privilege Keys</h4>
        </div>
        <table class="responsive-table">
          <thead>
            <tr>
              <th class="center"><i class="fa fa-unlock-alt"></i>&nbsp;&nbsp;&nbsp;Privilege Key</th>
              <th class="center"><i class="fa fa-shield"></i>&nbsp;&nbsp;&nbsp;Server Group</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <link href="static/css/tsstatus.min.css" type="text/css" rel="stylesheet" media="screen,projection" /> {%if privilegekeys%} {%for token in privilegekeys%}
            <tr>
              <td class="center" data-clipboard-text="{{token[1]}}"><a class="clip indigo-text text-lighten-2" data-clipboard-text="{{token[1]}}">{{token[1]}}</a></td>
              <td class="center"><i class="sprite sprite-{{servergroups[token[0]]['group-icon']}}"></i>&nbsp;&nbsp;&nbsp;{{servergroups[token[0]]['group-name']}}</td>
              <td></td>
              <td><a href="privilegekey?remove&token={{token[1]}}"><i class="fa fa-times red-text text-lighten-2"></i></a></td>
            </tr>
            {%endfor%} {%endif%}
            <tr>
              <td></td>
              <td>
                <div class="col s1 m1"></div>
                <select class="col s10 m10 browser-default" id="privilegekey-gen">
                  <option value="" disabled selected>Server Group</option>
                  {%for group in groups%}
                  <option value="{{group}}">&nbsp;&nbsp;&nbsp;{{servergroups[group]['group-name']}}</option>
                  {%endfor%}
                </select>
              </td>
              <td></td>
              <td><a href="" onclick="this.href='privilegekey?generate&sgid='+document.getElementById('privilegekey-gen').value"><i class="fa fa-random deep-orange-text text-lighten-2"></i></a></td>
            </tr>
          </tbody>
        </table>
        <p><br></p>
      </div>
      {%if log[0]%}
      <p><br></p>
      <div class="icon-block center">
        <h3 class="col m2"></h3>
        <h4 class="col blue-grey-text"><i class="material-icons">history</i></h4>
        <h4 class="col light blue-grey-text text-lighten-1">Server Log</h4>
      </div>
      <div class="col s6 m6" style="height: 1020px; max-height: 1020px; overflow-y: scroll;">
        <table class="responsive-table">
          <thead>
            <tr>
              <th class="center"><i class="fa fa-calendar"></i>&nbsp;&nbsp; Date</th>
              <th class="center"><i class="fa fa-clock-o"></i>&nbsp;&nbsp; Time</th>
              <th class="center"><i class="fa fa-users"></i>&nbsp;&nbsp; User</th>
              <th class="center"><i class="fa fa-server"></i></th>
              <th class="center">Action</th>
            </tr>
          </thead>
          <tbody>
            {%for entry in log%}
            <tr>
              <td class="center">{{entry['date']}}</td>
              <td class="center">{{entry['time']}}</td>
              <td class="center"><a class="indigo-text text-lighten-2" href="https://steamcommunity.com/profiles/{{entry['steam_id']}}" target="_blank" rel="noopener noreferrer">{{entry['steam_id']}}</a></td>
              <td class="center">
                {%if entry['action'] == 'LOGGED-IN'%}
                <i class="fa fa-sign-in"></i> {%elif entry['action'] == 'SIGNED-OUT'%}
                <i class="fa fa-sign-out"></i> {%elif entry['action'] == 'START'%}
                <i class="fa fa-play"></i> {%elif entry['action'] == 'RESTART'%}
                <i class="fa fa-refresh"></i> {%elif entry['action'] == 'STOP'%}
                <i class="fa fa-stop"></i> {%elif entry['action'] == 'KILL'%}
                <i class="fa fa-ban"></i> {%elif entry['action'] == 'REBOOT'%}
                <i class="fa fa-power-off"></i> {%elif entry['action'] == 'ADD'%}
                <i class="fa fa-plus"></i> {%elif entry['action'] == 'REMOVE'%}
                <i class="fa fa-times"></i> {%elif entry['action'] == 'GENERATE'%}
                <i class="fa fa-random"></i> {%elif entry['action']%}
                <i class="fa fa-question tooltipped" data-position="right" data-delay="50" data-tooltip="{{entry['action']}}"></i> {%endif%}
              </td>
              <td class="center">{{entry['server']}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      {%endif%}
    </div>
    <p><br><br></p>
  </div>
</div>

{% endblock %} {%endif%}
