<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <title>Teamspeak Status</title>
  <link rel="shortcut icon" href="static/img/ts/teamspeak.ico">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/{{version[0]}}/css/materialize.min.css">
  <link href="static/css/tsstatus.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;"><br><br><br><br>
  <div style="height:238px; width:380px; border: 0px; overflow:auto;">
    {%if virtualserver%} {%for server in virtualserver:%}
    <div class="tsstatus">
      <div class="tsstatusItem tsstatusServer">
        &nbsp;<i class="sprite sprite-16x16_server_green"></i>&nbsp;{{server}}
      </div>
      {%for channel in virtualserver[server]:%} {%if 'spacer' not in channel:%}
      <div class="tsstatusItem">
        {%if virtualserver[server][channel][0]:%} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="sprite sprite-16x16_channel_red"></i>&nbsp;{{channel}} {%elif virtualserver[server][channel][1]:%} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="sprite sprite-16x16_channel_green"></i>&nbsp;{{channel}} {%else%} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="sprite sprite-16x16_channel_yellow"></i>&nbsp;{{channel}} {%endif%} {%if virtualserver[server][channel][0]:%}
        <div class="tsstatusFlags">
          <i class="sprite sprite-16x16_moderated"></i>
        </div>
        {%elif virtualserver[server][channel][2]:%}
        <div class="tsstatusFlags">
          <i class="sprite sprite-16x16_register"></i>
        </div>
        {%endif%}
      </div>
      {%if virtualserver[server][channel][4]:%} {%for client in virtualserver[server][channel][4]:%}
      <div class="tsstatusItem">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="sprite sprite-16x16_player_off"></i>&nbsp;{{client}}
        <div class="tsstatusFlags">
        </div>
      </div>
      {% endfor %} {%endif%} {%if virtualserver[server][channel][3]:%}
      <div class="tsstatusItem">
        {%for subchannel in virtualserver[server][channel][3]:%} {%if virtualserver[server][channel][3][subchannel][4]:%} {%if virtualserver[server][channel][3][subchannel][0]:%} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="sprite sprite-16x16_channel_red"></i>&nbsp;{{subchannel}} {%elif virtualserver[server][channel][3][subchannel][1]:%} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="sprite sprite-16x16_channel_green"></i>&nbsp;{{subchannel}} {%else:%} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="sprite sprite-16x16_channel_yellow"></i>&nbsp;{{subchannel}} {%endif%} {%if virtualserver[server][channel][3][subchannel][0]:%}
        <div class="tsstatusFlags">
          <i class="sprite sprite-16x16_moderated"></i>
        </div>
        {%elif virtualserver[server][channel][3][subchannel][2]:%}
        <div class="tsstatusFlags">
          <i class="sprite sprite-16x16_register"></i>
        </div>
        {%endif%} {%for client in virtualserver[server][channel][3][subchannel][4]:%}
        <div class="tsstatusItem">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="sprite sprite-16x16_player_off"></i>&nbsp;{{client}}
          <div class="tsstatusFlags">
          </div>
        </div>
        {% endfor %} {%endif%} {% endfor %}
      </div>
      {%endif%} {%endif%} {% endfor %}
    </div>
    {% endfor %} {%else%}
    <div class="tsstatus">
      <div class="tsstatusItem tsstatusServer red-text text-darken-2">
        &nbsp;<i class="sprite sprite-16x16_server_green"></i>&nbsp;Teamspeak Server Unreachable
      </div>
    </div>
    {%endif%}
  </div>
</body>
</html>
